.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: #009FC3;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

/* Container dos logos - agora com direção linha (horizontal) */
.logos {
  display: flex;
  align-items: center;
  gap: 20px; /* Aumentei o espaçamento */
  margin-bottom: 8px;
  flex-direction: row; /* Garante que fique na horizontal */
}

/* Container do texto - agora em linha também */
.brand-text {
  display: flex;
  flex-direction: row; /* Mudei de column para row */
  align-items: baseline; /* Alinha na base do texto */
  gap: 8px; /* Espaço entre "Energisa" e "Notes" */
}

.logos h3,
.logos h4 {
  padding-top: 22px;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}


/* Aumentei o tamanho do logo */
.logo-notes {
  width: 200px; /* Aumentei de 60px para 90px */
  height: auto;
}

/* Aumentei o tamanho do texto do logo também */
.brand-text h3 {
  font-size: 20px;
  color: white;
}

.brand-text h4 {
  font-size: 20px;
  color: #F67C0A;
}

.login-title {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;  
   font-weight: bold;
  }

.login-subtitle {
  font-size: 18px;
  color: #000000f3;
  max-width: 700px;
  font-weight: bold;
}

.login-btn {
  padding: 12px 24px;
  background: #063152; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 260px;
  max-width: 90%;
}

.login-btn:hover {
  background: #0062aa;
}