.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: #009FC3;;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.login-title {
  font-size: 32px;
  color: #000000;
  font-weight: bold;
}

.login-subtitle {
  font-size: 18px;
  color: #000000;
  max-width: 330px;
}

.login-btn {
  padding: 12px 24px;
  background: #063152; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 260px;
  max-width: 90%;
}

.login-btn:hover {
  background: #0062aa;
}




/* telas de 480px */
@media (max-width: 480px) {
  .login-title {
    font-size: 26px;
  }

  .login-subtitle {
    font-size: 16px;
  }

  .login-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}



/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .login-title {
    font-size: 30px;
  }

  .login-subtitle {
    font-size: 17px;
  }

  .login-btn {
    width: 300px;
  }
}




/* Telas de 1200px */
@media (min-width: 1200px) {
  .login-title {
    font-size: 38px;
  }

  .login-subtitle {
    font-size: 20px;
  }

  .login-btn {
    width: 320px;
    font-size: 20px;
  }
}
